.App {
  text-align: center;
  margin: 10px;
  font-size: 23px;
}

input {
  margin: 10px;
  width: 300px;
  height: 35px;
  padding-left: 8px;
}

button {
  height: 35px;
  width: 100px;
  margin-left: 10px;
  margin-top: 15px;
}

ul {
  display: grid;
  place-items: center;
}

li {
  background-color: bisque;
  font-size: 23px;
  height: 35px;
  list-style-type: none;
  width: 300px;
  margin-top: 15px;
}

#task {
  display: flex;
  flex-direction: row;
}